body{
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-image: url(tiwari2.png); */
    /* background-image: url(https://media.istockphoto.com/id/960774054/vector/vector-realistic-mock-up-of-the-album-for-drawing-with-a-black-spiral.jpg?s=612x612&w=0&k=20&c=DYoQQGOnlvVS0Dt1lfZ5JHXqBWWhEc8J4dL1-38LsZI=); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.image-box{
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* margin-left: 100px; */
    margin-top: 100px;

}
img{
    width: auto;
    height: 100%;
    /* object-fit: fill; */
    object-fit: cover;

}
.bookcover{
    width: 79%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: cover; */
    /* background-image: url(tiwari2.png); */
    content: url(tiwari2.png);
    /* position: absolute; */
    z-index: 1;
    animation: chnagingimage 10s infinite;

}

.phone{
    width: 400px;
    height: 900px;
    display: none;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    display: none;
    /* margin-top: 100px; */
    content: url(tiwarip.png);
    animation: chnagingimage 10s infinite;

}
img{

    object-fit: contain;
}

@keyframes chnagingimage{
    0%{
        content: url(tiwari2.png);
    }
    5%{
        opacity: 0.8;
    }
    10%{
        content: url(tiwari3.png);
    }
    15%{
        opacity: 0.8;
    }
    20%{
        content: url(tiwari4.png);
    }
    25%{
        opacity: 0.8;
    }
    30%{
        content: url(tiwari5.png);
    }
    35%{
        opacity: 0.8;
    }
    40%{
        content: url(tiwari6.png);
    }
    45%{
        opacity: 0.8;
    }
    50%{
        content: url(tiwari7.png);
    }
    55%{
        opacity: 0.8;
    }
    60%{
        content: url(tiwari8.png);
    }
    65%{
        opacity: 0.8;
    }
    70%{
        content: url(tiwari9.png);
    }
    75%{
        opacity: 0.8;
    }
    80%{
        content: url(tiwari10.png);
    }
    85%{
        opacity: 0.8;
    }
    90%{
        content: url(tiwari11.png);
        width: auto;
    }
    100%{
        opacity: 0.8;
    }

}
@media screen and (max-width: 600px){

    /* .bookcover{
        display: none;
    }
    .phone{
        display: flex;
        width: 300px;
    } */
    .image-box{
        width: 400px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        /* margin-left: 100px; */
    
    }
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.8;


}

.nav-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 10px;
    padding: 0 10px;

}
    
